<section class=" gradient-custom">
    <div class="container py-3 ">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">

                        <div class="mb-md-5 mt-md-4 pb-1">
                           
                                <h2 class="fw-bold mb-2 text-uppercase">Error</h2>
                                <p class="text-white-50 mb-5">Something happened wrong. Try again!</p>

                                <button class="btn btn-outline-light btn-lg px-5" onclick="location.href='../products'"> Home </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>